{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<!-- MooTools -->
<script type="text/javascript" src="/iface/media/js/mootools-core.js"></script>
<script type="text/javascript" src="/iface/media/js/mootools-more.js"></script>

<!-- SWFObject -->
<script type="text/javascript" src="/iface/media/js/swfobject.js"></script>

<!-- VLCobject -->
<script type="text/javascript" src="/iface/media/js/vlcobject.js"></script>

<script type="text/javascript" src="/iface/media/js/front.js"></script>
{% endblock %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="/iface/media/css/front.css" />{% endblock %}
