#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Several choices
db_input high kalinka-server/server || true 
db_go

db_input high kalinka-server/snmpreceiver || true 
db_go

db_input high kalinka-server/snmpcommunity || true
db_go

db_input high kalinka-server/database || true
db_go

db_input high kalinka-server/recreate || true
db_go

db_input high kalinka-server/detect || true
db_go

exit 0

